.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 150px;
}
.control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.control > p {
    margin: 0;
    font-size: 20px;
}
.control > div {
    font-size: 12px;
    padding: 4px;
    color: white;
    background: radial-gradient(circle, rgb(66, 76, 84) 0%, rgb(72, 83, 94) 100%);
    /* 버튼 더블 클릭 시 드래그 방지*/
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.control > div:hover {
    cursor: pointer;
    opacity: 0.80;
    transition: opacity 0.5s ease;
}
.materialsZone {
    width: fit-content;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.material {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(144, 4, 3);
    font-size: 16px;
}
.material:hover {
    cursor: pointer;
    transform: scale(1.02);
    opacity: 0.95;
    transition: transform 0.3s ease, opacity 0.3s ease; /* 부드러운 전환 효과 */
}
.selected {
    color: rgb(142, 189, 2);
}