@media screen and (min-width: 769px) {
    .container {
        align-items: center;
        display: flex;
        width: 724px;
        height: 50px;
    }
    .container > p {
        margin: 0;
        flex: 1;
        font-size: 20px;
    }
    .costZone {
        display: flex;
        flex: 4;
        justify-content: space-between;
        margin-right: 24px;
    }
    .cost {
        flex: 1;
        justify-content: flex-end;
        display: flex;
        gap: 8px;
        font-size: 16px;
        line-height: 150%;
    }
    .cost > img {
        width: 24px;
        height: 24px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 8px;
    }
    .container > p {
        margin: 0 0 0 8px;
        font-size: 16px;
    }
    .costZone {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        padding: 0 8px 0 8px;
    }
    .cost {
        flex: 1;
        justify-content: flex-end;
        display: flex;
        gap: 8px;
        font-size: 10px;
        line-height: 250%;
    }
    .cost > img {
        width: 24px;
        height: 24px;
    }
}