.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    height: 100px;
}
.container > p {
    font-size: 16px;
}
.expBarZone {
    width: 100%;
    height: fit-content;
}
.expBar {
    width: 100%;
    height:20px;
    background: linear-gradient(270deg, rgba(240, 127, 69, 1) 10%, rgba(240, 127, 69, 0.8) 45%, rgba(240, 127, 69, 0.8) 90%, rgba(240, 127, 69, 0.6) 100%);
    border-radius: 2px;
    transition: width 0.5s ease;
}
.fillMax {
    width: 100%;
    height: 20px;
    background: rgb(228, 178, 72);
    border-radius: 2px;
    transition: width 0.5s ease, background 0.5s ease;
}
