@media screen and (min-width: 769px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .itemTypeSelectZone {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        min-width: 140px;
        width: 256px;
        height: 80px;
    }
    .itemButton {
        width: 64px;
        height: 64px;
    }
    .itemButton:hover {
        cursor: pointer;
        transform: scale(1.02);
        opacity: 0.95;
        transition: transform 0.3s ease, opacity 0.3s ease; /* 부드러운 전환 효과 */

    }
    .itemButton > img {
        border-radius: 4px;
        background: linear-gradient(135deg, #3f3412, #dccc99);
    }
    .selected {
        border-radius: 4px;
        box-shadow: 0 0 15px 8px rgba(216, 73, 11, 0.8); /* 투명한 노란색 빛 효과 */;
    }
    .itemTypeName {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin-top: 32px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 8px 0;
    }
    .itemTypeSelectZone {
        flex: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 56px;
        gap: 24px;
    }
    .itemButton {
        width: 48px;
        height: 48px;
    }
    .itemButton:hover {
        cursor: pointer;
        transform: scale(1.02);
        opacity: 0.95;
        transition: transform 0.3s ease, opacity 0.3s ease; /* 부드러운 전환 효과 */
    }
    .itemButton > img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: linear-gradient(135deg, #3f3412, #dccc99);
    }
    .selected {
        border-radius: 4px;
        box-shadow: 0 0 15px 2px rgba(216, 73, 11, 0.8); /* 투명한 노란색 빛 효과 */;
    }
    .itemTypeName {
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin-bottom: 16px;
    }
}