.container {
    margin-top: 24px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: radial-gradient(circle, rgb(66, 76, 84) 0%, rgb(72, 83, 94) 100%);
    /* 버튼 더블 클릭 시 드래그 방지*/
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.container:hover {
    cursor: pointer;
    opacity: 0.80;
    transition: opacity 0.5s ease;
}