.container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
    background-color: hsl(var(--bg-box-color-default));
    padding: 1.6rem;
    box-sizing: border-box;
}
.light {
    background-color: hsl(var(--bg-box-color-light));
}
.title {
    font-size: 2.4rem;
}
@media screen and (min-width: 769px) {
    .container {
        border-radius: 8px;
    }
}