.container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
    background-color: hsl(var(--bg-box-color-default));
    padding: 1.6rem;
    box-sizing: border-box;
}
.container.light {
    background-color: hsl(var(--bg-box-color-light));
}
.title {
    font-size: 2.4rem;
}
.divBar {
    width: calc(100% + 2 * 1.6rem);
    margin: 0 -1.6rem 1.6rem -1.6rem;
    height: 1px;
    background-color: hsl(var(--line-color-default));
}
.divBar.light {
    background-color: hsl(var(--line-color-default), 0.5);
}
@media screen and (min-width: 769px) {
    .container {
        border-radius: 8px;
    }
}