/* colors palette */
:root {
    --gray-000: 228, 100%, 100%;
    --gray-005: 228, 100%, 98%;
    --gray-010: 226, 35%, 93%;
    --gray-015: 228, 24%, 88%;
    --gray-020: 227, 17%, 77%;
    --gray-030: 229, 13%, 67%;
    --gray-040: 227, 11%, 57%;
    --gray-050: 227, 9%, 48%;
    --gray-060: 226, 11%, 39%;
    --gray-070: 224, 13%, 30%;
    --gray-080: 228, 14%, 21%;
    --gray-085: 228, 16%, 13%;
    --gray-090: 231, 16%, 8%;
    --gray-095: 225, 18%, 4%;
    --gray-100: 225, 0%, 0%;

    --orange: 48, 100%, 47%;
}
/*:root {*/
/*    --ui-color-background-100: var(--gray-000);*/
/*    --ui-color-background-090: var(--gray-005);*/
/*    --ui-color-background-080: var(--gray-010);*/
/*    --ui-color-background-070: var(--gray-015);*/
/*    --ui-color-background-060: var(--gray-020);*/
/*    --ui-color-background-050: var(--gray-030);*/
/*    --ui-color-background-040: var(--gray-040);*/
/*    --ui-color-background-030: var(--gray-050);*/
/*    --ui-color-background-020: var(--gray-060);*/
/*    --ui-color-background-010: var(--gray-070);*/
/*    --ui-color-background-000: var(--gray-080);*/

/*    --ui-color-foreground-100: var(--gray-100);*/
/*    --ui-color-foreground-090: var(--gray-095);*/
/*    --ui-color-foreground-080: var(--gray-090);*/
/*    --ui-color-foreground-070: var(--gray-085);*/
/*    --ui-color-foreground-060: var(--gray-080);*/
/*    --ui-color-foreground-050: var(--gray-070);*/
/*    --ui-color-foreground-040: var(--gray-060);*/
/*    --ui-color-foreground-030: var(--gray-050);*/
/*    --ui-color-foreground-020: var(--gray-040);*/
/*    --ui-color-foreground-010: var(--gray-030);*/
/*    --ui-color-foreground-000: var(--gray-020);*/
/*}*/
/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --ui-color-background-100: var(--gray-100);*/
/*        --ui-color-background-090: var(--gray-095);*/
/*        --ui-color-background-080: var(--gray-090);*/
/*        --ui-color-background-070: var(--gray-085);*/
/*        --ui-color-background-060: var(--gray-080);*/
/*        --ui-color-background-050: var(--gray-070);*/
/*        --ui-color-background-040: var(--gray-060);*/
/*        --ui-color-background-030: var(--gray-050);*/
/*        --ui-color-background-020: var(--gray-040);*/
/*        --ui-color-background-010: var(--gray-030);*/
/*        --ui-color-background-000: var(--gray-020);*/

/*        --ui-color-foreground-100: var(--gray-000);*/
/*        --ui-color-foreground-090: var(--gray-005);*/
/*        --ui-color-foreground-080: var(--gray-010);*/
/*        --ui-color-foreground-070: var(--gray-015);*/
/*        --ui-color-foreground-060: var(--gray-020);*/
/*        --ui-color-foreground-050: var(--gray-030);*/
/*        --ui-color-foreground-040: var(--gray-040);*/
/*        --ui-color-foreground-030: var(--gray-050);*/
/*        --ui-color-foreground-020: var(--gray-060);*/
/*        --ui-color-foreground-010: var(--gray-070);*/
/*        --ui-color-foreground-000: var(--gray-080);*/
/*    }*/
/*}*/
:root {
    --ui-color-background-100: var(--gray-100);
    --ui-color-background-090: var(--gray-095);
    --ui-color-background-080: var(--gray-090);
    --ui-color-background-070: var(--gray-085);
    --ui-color-background-060: var(--gray-080);
    --ui-color-background-050: var(--gray-070);
    --ui-color-background-040: var(--gray-060);
    --ui-color-background-030: var(--gray-050);
    --ui-color-background-020: var(--gray-040);
    --ui-color-background-010: var(--gray-030);
    --ui-color-background-000: var(--gray-020);

    --ui-color-foreground-100: var(--gray-000);
    --ui-color-foreground-090: var(--gray-005);
    --ui-color-foreground-080: var(--gray-010);
    --ui-color-foreground-070: var(--gray-015);
    --ui-color-foreground-060: var(--gray-020);
    --ui-color-foreground-050: var(--gray-030);
    --ui-color-foreground-040: var(--gray-040);
    --ui-color-foreground-030: var(--gray-050);
    --ui-color-foreground-020: var(--gray-060);
    --ui-color-foreground-010: var(--gray-070);
    --ui-color-foreground-000: var(--gray-080);
}
:root {
    --font-color-highlight: var(--ui-color-foreground-100);
    --font-color-default: var(--ui-color-foreground-070);
    --font-color-light: var(--ui-color-foreground-060);
    --font-color-comment: var(--ui-color-foreground-040);

    --bg-box-color-highlight: var(--ui-color-background-100);
    --bg-box-color-default: var(--ui-color-background-090);

    --bg-color-highlight: var(--ui-color-background-100);
    --bg-color-default: var(--ui-color-background-070);

    --line-color-highlight: var(--ui-color-foreground-020);
    --line-color-default: var(--ui-color-foreground-000);
    --line-color-bright: var(--ui-color-foreground-080);

    --line-fill-color-default: var(--ui-color-background-090);
    --line-fill-color-highlight: var(--ui-color-background-080);
}

html, body {
    margin: 0;
    min-width: 100%;
    min-height: 100%;
}
html {
    font-size: 62.5%;
    font-weight: 400;
    color: hsl(var(--font-color-default));
    background: linear-gradient(180deg, hsl(var(--ui-color-background-100)) 5%, hsl(var(--ui-color-background-080)) 10%, hsl(var(--bg-color-default)) 100%) no-repeat;
}

/* 리액트 렌더링 영역과 독립된 영역 */
#tooltips-portal {
    position: absolute;
    z-index: 7000;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 50%;
    }
}