.refineBtn {
    flex-shrink: 0;
    padding: 1.5rem 3rem 1.5rem 3rem;
    font-size: 1.6rem;
    border: 0;
    outline: 0;
    color: hsl(var(--font-color-light));
    font-weight: 600;
    background: hsl(var(--ui-color-background-060));
    border-radius: 4px;
    transition: background-color 150ms ease, color 150ms ease;
}

@media screen and (min-width: 769px) {
    .refineBtn {
        padding: 1.5rem 6rem 1.5rem 6rem;
    }
    .refineBtn:hover {
        background: hsl(var(--ui-color-background-050));
        color: hsl(var(--font-color-highlight));
        cursor: pointer;
    }
}
@media screen and (max-width: 768px) {
    .refineBtn {
        padding: 1.5rem 4.5rem 1.5rem 4.5rem;
    }
}