.refineBtn {
    flex-shrink: 0;
    font-size: 1.6rem;
    border: 0;
    outline: 0;
    color: hsl(var(--font-color-light));
    font-weight: 600;
    background: hsl(var(--ui-color-background-060));
    border-radius: 4px;
    transition: background-color 150ms ease, color 150ms ease;
    padding: 1.5rem 6rem 1.5rem 6rem;
}
@media (hover: hover) and (pointer: fine) {
    .refineBtn:hover {
        background: hsl(var(--ui-color-background-050));
        color: hsl(var(--font-color-highlight));
        cursor: pointer;
    }
}

@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}