@media screen and (min-width: 769px) {
    .container {
        width: 600px;
        height: 128px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .label {
        font-size: 20px;
        border-bottom: 1px solid black;
    }
    .label:hover {
        font-weight: bold;
        cursor: pointer;
    }
    .ancestorProtectionList {
        margin-top: 8px;
        display: flex;
        gap: 16px;
    }
    .ancestorProtectionItem {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: rgb(85, 76, 64);
        display: inline-block;
        transition: background 0.5s ease-in-out;
    }
    .selected {
        background: rgb(210, 74, 3);
        box-shadow: 0 0 10px rgba(253, 224, 34, 1);
        transition: background 0.5s ease-in-out;
    }
    .full {
        background: rgb(244, 104, 26);
        transition: background 0.5s ease-in-out;
    }
    .isFree {
        margin-top: 8px;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-shrink: 0;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .label {
        font-size: 16px;
        border-bottom: 1px solid black;
    }
    .label:hover {
        font-weight: bold;
        cursor: pointer;
    }
    .ancestorProtectionList {
        margin-top: 8px;
        display: flex;
        gap:12px;
    }
    .ancestorProtectionItem {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgb(85, 76, 64);
        display: inline-block;
        transition: background 0.5s ease-in-out;
    }
    .selected {
        background: rgb(210, 74, 3);
        box-shadow: 0 0 10px rgba(253, 224, 34, 1);
        transition: background 0.5s ease-in-out;
    }
    .full {
        background: rgb(244, 104, 26);
        transition: background 0.5s ease-in-out;
    }
    .isFree {
        display: flex;
        text-align: center;
        margin-top: 8px;
        font-size: 12px;
        word-wrap: break-word;
    }
    .tooltip {
        max-width: 350px;
    }
}