.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    padding: 1.6rem;
    border: 1px solid hsl(var(--line-color-default));
    border-radius: 4px;
    overflow-x: scroll;
}
.title {
    flex-shrink: 0;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
    color: hsl(var(--font-color-light))
}
.divBar {
    flex-shrink: 0;
    width: 1px;
    margin: -1.6rem 1.6rem -1.6rem 1.6rem;
    border-right: 1px solid hsl(var(--line-color-default));
}
.costsZone {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
}
.cost {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    font-size: 1.6rem;
    line-height: 2.2rem;
    gap: 0.4rem;
}
.cost > img {
    width: 2.4rem;
    height: 2.4rem;
}

@media screen and (min-width: 769px) {
    .container {
        max-width: 64.4rem;
    }
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 40rem;
    }
}