@media screen and (min-width: 769px) {
    .container {
        margin-top: 24px;
        position: relative;
    }
    .refine {
        width: 250px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background: radial-gradient(circle, rgb(66, 76, 84) 0%, rgb(72, 83, 94) 100%);
        /* 버튼 더블 클릭 시 드래그 방지*/
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none
    }
    .refine:hover {
        cursor: pointer;
        opacity: 0.80;
        transition: opacity 0.5s ease;
    }
    .reset {
        position: absolute;
        top: 13px;
        left: 274px;
        width: 64px;
        height: 32px;
        background-color: rgb(56, 117, 174);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .reset:hover {
        cursor: pointer;
        opacity: 0.80;
        transition: opacity 0.5s ease;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 12px;
        position: relative;
    }
    .refine {
        max-width: 250px;
        width: 50%;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background: radial-gradient(circle, rgb(66, 76, 84) 0%, rgb(72, 83, 94) 100%);
        /* 버튼 더블 클릭 시 드래그 방지*/
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none
    }
    .refine:hover {
        cursor: pointer;
        opacity: 0.80;
        transition: opacity 0.5s ease;
    }
    .reset {
        position: absolute;
        top: 13px;
        left: 80%;
        width: 64px;
        height: 32px;
        background-color: rgb(56, 117, 174);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .reset:hover {
        cursor: pointer;
        opacity: 0.80;
        transition: opacity 0.5s ease;
    }
}